.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  gap: 8x;
  width: 100%;
}

[class*="col-"] {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.flex{
  display: block;
  width: 100%;
}

.row{
  display:flex;
  flex-wrap: wrap;
  background:greenyellow;
  
}

.grid *,
.grid .row * {
  margin-top: 20px;
  margin-inline: 15px;
  height: 100px;
}
/*Establecer Grid*/
.grid .columns-small-blue {
  grid-column: span 12;
  background: blue;
  color: white;
}
.grid .columns-big-blue {
  grid-column: span 12;
  background: blue;
  color: white;
}
.grid  .columns-green {
  grid-column: span 12;
  background: rgb(89, 230, 155);
}
.grid  .columns-red {
  grid-column: span 12;
  background: rgb(180, 0, 0);
  height: 400px;
  color: white;
}
.grid  .columns-pink {
  grid-column: span 12;
  background: rgb(255, 18, 105);
  height: 400px;
  color: white;
  
}
.grid  .columns-yellow {
  grid-column: span 12;
  background: yellow;
}

/*Completar*/
@media screen and (min-width: 768px){
  .grid *{
    height: 150px;
  }
  .grid .columns-small-blue {
    grid-column: span 4;
    background: blue;
  }
  .grid .columns-big-blue {
    grid-column: span 4;
  }
  .grid  .columns-green {
    grid-column: span 12;
  }
  .grid  .columns-red {
    grid-column: span 2;
    height: 150px;
  }
  .grid  .columns-pink {
    grid-column: span 7;
    height: 300px
  }
  .grid  .columns-yellow {
    grid-column: span 3;
  }
}

@media screen and (min-width: 1280px){
  .grid *{
    height: 80px;
  }
  .grid .columns-small-blue {
    grid-column: span 3;
  }
  .grid .columns-big-blue {
    grid-column: span 6;
  }
  .grid  .columns-green {
    grid-column: span 6;
  }
  .grid  .columns-red {
    grid-column: span 8;
    height: 250px;
  }
  .grid  .columns-pink {
    grid-column: span 4;
    height: 250px
  }
  .grid  .columns-yellow {
    grid-column: span 12;
  }
}